<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mashensoft.bus.mapper.LineMapper" >
  <resultMap id="BaseResultMap" type="com.mashensoft.bus.model.Line" >
    <id column="line_id" property="lineId" jdbcType="INTEGER" />
    <result column="line_name" property="lineName" jdbcType="VARCHAR" />
    <result column="line_origin" property="lineOrigin" jdbcType="VARCHAR" />
    <result column="line_destination" property="lineDestination" jdbcType="VARCHAR" />
    <result column="line_money" property="lineMoney" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    line_id, line_name, line_origin, line_destination, line_money
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mashensoft.bus.model.LineExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from line
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from line
    where line_id = #{lineId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from line
    where line_id = #{lineId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mashensoft.bus.model.LineExample" >
    delete from line
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mashensoft.bus.model.Line" >
    insert into line (line_id, line_name, line_origin, 
      line_destination, line_money)
    values (#{lineId,jdbcType=INTEGER}, #{lineName,jdbcType=VARCHAR}, #{lineOrigin,jdbcType=VARCHAR}, 
      #{lineDestination,jdbcType=VARCHAR}, #{lineMoney,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mashensoft.bus.model.Line" >
    insert into line
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lineId != null" >
        line_id,
      </if>
      <if test="lineName != null" >
        line_name,
      </if>
      <if test="lineOrigin != null" >
        line_origin,
      </if>
      <if test="lineDestination != null" >
        line_destination,
      </if>
      <if test="lineMoney != null" >
        line_money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lineId != null" >
        #{lineId,jdbcType=INTEGER},
      </if>
      <if test="lineName != null" >
        #{lineName,jdbcType=VARCHAR},
      </if>
      <if test="lineOrigin != null" >
        #{lineOrigin,jdbcType=VARCHAR},
      </if>
      <if test="lineDestination != null" >
        #{lineDestination,jdbcType=VARCHAR},
      </if>
      <if test="lineMoney != null" >
        #{lineMoney,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mashensoft.bus.model.LineExample" resultType="java.lang.Integer" >
    select count(*) from line
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update line
    <set >
      <if test="record.lineId != null" >
        line_id = #{record.lineId,jdbcType=INTEGER},
      </if>
      <if test="record.lineName != null" >
        line_name = #{record.lineName,jdbcType=VARCHAR},
      </if>
      <if test="record.lineOrigin != null" >
        line_origin = #{record.lineOrigin,jdbcType=VARCHAR},
      </if>
      <if test="record.lineDestination != null" >
        line_destination = #{record.lineDestination,jdbcType=VARCHAR},
      </if>
      <if test="record.lineMoney != null" >
        line_money = #{record.lineMoney,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update line
    set line_id = #{record.lineId,jdbcType=INTEGER},
      line_name = #{record.lineName,jdbcType=VARCHAR},
      line_origin = #{record.lineOrigin,jdbcType=VARCHAR},
      line_destination = #{record.lineDestination,jdbcType=VARCHAR},
      line_money = #{record.lineMoney,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mashensoft.bus.model.Line" >
    update line
    <set >
      <if test="lineName != null" >
        line_name = #{lineName,jdbcType=VARCHAR},
      </if>
      <if test="lineOrigin != null" >
        line_origin = #{lineOrigin,jdbcType=VARCHAR},
      </if>
      <if test="lineDestination != null" >
        line_destination = #{lineDestination,jdbcType=VARCHAR},
      </if>
      <if test="lineMoney != null" >
        line_money = #{lineMoney,jdbcType=VARCHAR},
      </if>
    </set>
    where line_id = #{lineId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mashensoft.bus.model.Line" >
    update line
    set line_name = #{lineName,jdbcType=VARCHAR},
      line_origin = #{lineOrigin,jdbcType=VARCHAR},
      line_destination = #{lineDestination,jdbcType=VARCHAR},
      line_money = #{lineMoney,jdbcType=VARCHAR}
    where line_id = #{lineId,jdbcType=INTEGER}
  </update>
</mapper>